$enable-shadows: true;
$primary: rgb(0, 19, 223);

// $navbar-dark-color: yellow;

$body-color: #333;
$body-bg: #dadada;

//When a button was disabled it wasn't obvious enough
$btn-disabled-opacity: 0.3;

@import "../scss/bootstrap.scss";
